<div class = "container-fluid">
    <div class = "jumbotron">
    </div>
    <div class="header">
        The League Draft Choice Lottery TEST
    </div>
    
    <div class="col-md-12 justify-content-center" style="width:100%; text-align: center;">
        <p style="color:red">Red indicates fall in order</p>
        <p style="color:green">Green indicates rise in order</p>
        <div class = "draftBoard">
            <div></div>

            <table style="width:100%;">
                <tbody>
                <tr style="font-weight: bold;">
                <td></td>
                <td id="Kevin-col">10. Kevin</td>
                <td id="Jason-col">9. Jason</td>
                <td id="Liam-col">8. Liam</td>
                <td id="Brian-col">7. Brian</td>
                <td id="Rich-col">6. Rich </td>
                <td id="Carp-col">5. Carp</td>
                <td id="Matt-col">4. Matt</td>
                <td id="DJ-col">3. DJ</td>
                <td id="Bobby-col">2. Bobby</td>
                <td id="Johnny-col">1. Johnny</td>
                </tr>
                <tr>
                <td><b>First Choice</b></td>
                <td> 25%</td>
                <td> 18%</td>
                <td> 14%</td>
                <td> 12.5%</td>
                <td> 10.5%</td>
                <td> 7%</td>
                <td> 5%</td>
                <td> 4%</td>
                <td> 3%</td>
                <td> 1%</td>
                </tr>
                <tr>
                <td><b>Second Choice</b></td>
                <td> 20%</td>
                <td > 17%</td>
                <td> 15.5%</td>
                <td> 13.5%</td>
                <td> 11%</td>
                <td> 8%</td>
                <td> 5.5%</td>
                <td> 4.5%</td>
                <td> 3.5%</td>
                <td> 1.5%</td>
                </tr>
                <tr>
                <td><b>Third Choice</b></td>
                <td> 17%</td>
                <td> 15%</td>
                <td> 14.5%</td>
                <td> 13.5%</td>
                <td> 12.5%</td>
                <td> 9.5%</td>
                <td> 7%</td>
                <td> 5%</td>
                <td> 4%</td>
                <td> 2%</td>
                </tr>
                <tr>
                <td><b>Fourth Choice</b></td>
                <td> 14%</td>
                <td> 12%</td>
                <td> 13.5%</td>
                <td> 11.5%</td>
                <td> 11.5%</td>
                <td> 11.5%</td>
                <td> 8%</td>
                <td> 6%</td>
                <td> 7%</td>
                <td> 5%</td>
                </tr>
                </tbody>
                </table>
        </div>

        <div style="text-align: center; padding: 2%;">
            <app-generate-order (finalDraftOrder)="createOrder($event)"> 
            </app-generate-order>
        </div>
        <div class = "card-module col-md-12">
            <h1>Draft Choice Order</h1>
            <div class="draftCard actualOrder" *ngFor="let team of order;let indexOfElement=index;">
                <div id="{{team}}" class="draftCard-inner" (click)="flip(team,indexOfElement)">
                    <div class="draftCard-front">
                        {{1+indexOfElement}}
                    </div>
                    <div class = "draftCard-back" style="background-image: url(./assets/teams/{{team}}.jpg); background-size:cover;">
                        
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

