.container-fluid{
    padding:5%;
}

.jumbotron{
    background-image: url("../assets/draftLotto.png");
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom:1px solid #ff6a00
}
.header{
    font-size: 54px;
    font-family: 'Impact';
    text-align:center;
}
.card-module{
    line-height: 200px;
    text-align: center;
}
.draftCard-firm{
    background-color: #89CFF0;
    width: 300px;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 2%;
}
.draftCard{
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 2%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.draftCard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

.draftCard:active .draftCard-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.draftCard-front, .draftCard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
.draftCard-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
.draftCard-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}